<!DOCTYPE HTML>
<html lang="fr">
    <head>
        <meta charset="utf-8"/>
        <title>Polls</title>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link href="../Assets/CSS/style.css" rel="stylesheet">
    </head>
    <body>
        <header class="header">
            <nav class="navbar">
                <a class="brand" href="{{ GetRoute("HomeDisplay") }}">SOND<span class="main-color">@</span>GE</a>
                <section class="menu">
                    <li class="menu-actions">
{% if (IsLogin()) %}
                        <ol class="menu-actions-item"><a href="{{ GetRoute("PollAdd") }}">Créer un sondage</a></ol>
                        <ol class="menu-actions-item"><a href="{{ GetRoute("PollDisplay") }}">Mes sondages</a></ol>
{% endif %}               
                    </li>
                    <li class="menu-user">
{% if (IsLogin()) %}
                        <ol class="menu-user-item"><a class="btn" href="{{ GetRoute("UserLogout") }}">Se déconnecter</a></ol>
{% else %}
                        <ol class="menu-user-item"><a class="btn-link" href="{{ GetRoute("UserLogin") }}">Se connecter</a></ol>
                        <ol class="menu-user-item"><a class="btn" href="{{ GetRoute("UserAdd") }}">S'inscrire</a></ol>
{% endif %}
                    </li>
                </section>
            </nav>
        </header>
        <section class="content">
            {% block content %}
            {% endblock %}
        <section>
    </body>
</html>