<!DOCTYPE HTML>
<html lang="fr">
    <head>
        <meta charset="utf-8"/>
        <title>Polls</title>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link href="../Assets/CSS/Bootstrap/bootstrap.min.css" rel="stylesheet">
    </head>
    <body>
        <header>
            <nav class="navbar navbar-expand-lg navbar-dark px-4" style="background-color: #8e24aa;">
                <a class="navbar-brand" href="{{ GetRoute("HomeDisplay") }}">Sond@ge</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse d-flex justify-content-between" id="navbarText">
                    <ul class="navbar-nav">
{% if (IsLogin()) %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ GetRoute("PollAdd") }}">Créer un sondage</a>
                        </li>
{% endif %}
                    </ul>
                    <section class="navbar-text d-flex">
{% if (IsLogin()) %}
                        <a class="nav-link btn btn-link" href="{{ GetRoute("UserLogout") }}">Se déconnecter</a>
{% else %}
                        <a class="nav-link btn btn-link" href="{{ GetRoute("UserAdd") }}">S'inscrire</a>
                        <a class="nav-link btn btn-link" href="{{ GetRoute("UserLogin") }}">S'authentifier</a>
{% endif %}
                    </span>
                </div>
            </nav>
        </header>
        <section class="w-75 pt-5 mx-auto">
            {% block content %}
            {% endblock %}
        <section>
        <script src="../Assets/JS/Bootstrap/bootstrap.bundle.min.js"></script>
    </body>
</html>