{% extends "Base.twig" %}

{% block content %}
<article>
    <header class="f-header">
        <h1>CRÉER UN SONDAGE</h1>
    </header>
    <section>
        <form class="form" id="form" method="POST" action="{{ GetRoute("PollAdd") }}">
            <section id="question_group" class="f-group {% if errors.question|length > 0 %}f-group-errors{% endif %}">  
                <input class="f-input" type="text" id="question" name="question" value="{{ question }}" maxlength="100" placeholder=" "/>
                <label class="f-label" for="question">Question</label>
    {% if errors.question|length > 0 %}
                <section id="question_errors" class="f-errors-container">  
                    <ul>           
        {% for error in errors.question %}
                        <li class="f-error">{{ error }}</li>
        {% endfor %}
                    </ul>
                </section>
    {% endif %}
            </section>      
            <section class="f-group f-radio-toolbar">
                <input type="radio" id="1day" name="duration" value="1" {% if (duration == 1) %}checked{% endif %}>
                <label for="1day">1 j</label>
                <input type="radio" id="7day" name="duration" value="7" {% if (duration == 7) %}checked{% endif %}>
                <label for="7day">7 j</label>
                <input type="radio" id="15day" name="duration" value="15" {% if (duration == 15) %}checked{% endif %}>
                <label for="15day">15 j</label>
                <input type="radio" id="30day" name="duration" value="30" {% if (duration == 30) %}checked{% endif %}>
                <label for="30day">30 j</label>
            </section>
            <section id="answer_1_group" class="f-group {% if errors.answer_1|length > 0 %}f-group-errors{% endif %}">
                <input class="f-input" type="text" id="answer_1" name="answer_1" value="{{ answer_1 }}" maxlength="100" placeholder=" "/>
                <label class="f-label" for="answer_1">Réponse 1</label>
    {% if errors.answer_1|length > 0 %}  
                <section id="answer_1_errors" class="f-errors-container">  
                    <ul>           
        {% for error in errors.answer_1 %}
                        <li class="f-error">{{ error }}</li>
        {% endfor %}
                    </ul>
                </section>
    {% endif %}
            </section>
            <section id="answer_2_group" class="f-group {% if errors.answer_2|length > 0 %}f-group-errors{% endif %}">
                <input class="f-input" type="text" id="answer_2" name="answer_2" value="{{ answer_2 }}" maxlength="100" placeholder=" "/>
                <label class="f-label" for="answer_2">Réponse 2</label>
    {% if errors.answer_2|length > 0 %}
                <section id="answer_2_errors" class="f-errors-container">  
                    <ul>           
        {% for error in errors.answer_2 %}
                        <li class="f-error">{{ error }}</li>
        {% endfor %}
                    </ul>
                </section>
    {% endif %}
            </section>
            <section id="answer_3_group" class="f-group {% if errors.answer_3|length > 0 %}f-group-errors{% endif %}">
                <input class="f-input" type="text" id="answer_3" name="answer_3" value="{{ answer_3 }}" maxlength="100" placeholder=" "/>
                <label class="f-label" for="answer_3">Réponse 3</label>
    {% if errors.answer_3|length > 0 %}   
                <section id="answer_3_errors" class="f-errors-container">  
                    <ul>            
        {% for error in errors.answer_3 %}
                        <li class="f-error">{{ error }}</li>
        {% endfor %}
                    </ul>
                </section>
    {% endif %}
            </section>
            <section id="answer_4_group" class="f-group {% if errors.answer_4|length > 0 %}f-group-errors{% endif %}">
                <input class="f-input" type="text" id="answer_4" name="answer_4" value="{{ answer_4 }}" maxlength="100" placeholder=" "/>
                <label class="f-label" for="answer_4">Réponse 4</label>
    {% if errors.answer_4|length > 0 %}   
                <section id="answer_4_errors" class="f-errors-container">  
                    <ul>          
        {% for error in errors.answer_4 %}
                        <li class="f-error">{{ error }}</li>
        {% endfor %}
                    </ul>
                </section>
    {% endif %}
            </section>
            <section id="answer_5_group" class="f-group {% if errors.answer_5|length > 0 %}f-group-errors{% endif %}">
                <input class="f-input" type="text" id="answer_5" name="answer_5" value="{{ answer_5 }}" maxlength="100" placeholder=" "/>
                <label class="f-label" for="answer_5">Réponse 5</label>
    {% if errors.answer_5|length > 0 %}  
                <section id="answer_5_errors" class="f-errors-container">  
                    <ul>           
        {% for error in errors.answer_5 %}
                        <li class="f-error">{{ error }}</li>
        {% endfor %}
                    </ul>
                </section>
    {% endif %}
            </section>
            <section class="f-buttons-container">
                <input class="btn btn-l" type="submit" value="Créer"/>
            </section>
        </form>
    </section>
</article>
<script type="module" src="../../Assets/JS/App/Template/Poll/Add.js"></script>
{% endblock %}